<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login 화면 입니다.</h1>
    <div>
        <form>
        <a href="http://localhost:8000/">
            <input type="button" value="login">
        </a>
        </form>
    </div>
    <div>
        <form>
        <a href="http://localhost:8000/signup/">
            <input type="button" value="signup">
        </a>
        </form>
    </div>

</body>
</html>